#J_tip{
	position: absolute;
	width: 200px;
	height: 50px;
	background-color: #fff;
	border-radius: 15px;
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	padding-left: 15px;
}
#tip_txt{
	width: 150px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 600;
}